<div>
  <h1>PRODUCTOS</h1>
  <h2>Bienvenido {{user.first_name}} {{user.last_name}} "{{user.email}}" ({{user.role}})</h2>
  <p>
    {{#ifAdmin user.role}}
      <a href="/users-administrator"><button type="button">Ir a Usuarios</button></a>
    {{/ifAdmin}}
    {{#ifNotAdmin user.role}}
      <button id="btnProfile">Ir a mi perfil</button>
    {{/ifNotAdmin}}
    <button id="btnLogout">Cerrar sesión</button>
  </p>
  <ul>
    {{#each productsList.payload}}
      <li>{{this.id}}
        -
        {{this.title}}
        ({{this.code}}) |
        <button>Ver detalle</button>
        |
        <button>Agregar al carrito</button>
        |</li>
    {{/each}}
  </ul>
  <br />
  <span>Página {{productsList.page}}/{{productsList.totalPages}}</span>
  {{#if productsList.hasPrevPage}}
    <button><a href={{productsList.prevLink}}>Anterior</a></button>
  {{/if}}
  {{#if productsList.hasNextPage}}
    <button><a href={{productsList.nextLink}}>Siguiente</a></button>
  {{/if}}

</div>

<script src="/js/products.js"></script>